@import "../variables/variables";

.aside {

  &__layer {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-left: $desctop_padding_header;
    padding-right: $desctop_padding_header;
    z-index: 12;
  }

  &.ping {
    background-color: $ping_color;

    & .open-filter-btn__info {
      color: $ping_color;
    }
    & .filter-container {
      background-color: $ping_color;
    }
    & .aside__layer {
      background-color: $ping_color;
    }
  }
  &.purple {
    background-color: $purple_color;

    & .open-filter-btn__info {
      color: $purple_color;
    }
    & .filter-container {
      background-color: $purple_color;
    }
    & .aside__layer {
      background-color: $purple_color;
    }
  }
  &.green {
    background-color: $green_color;

    & .open-filter-btn__info {
      color: $green_color;
    }
    & .filter-container {
      background-color: $green_color;
    }
    & .aside__layer {
      background-color: $green_color;
    }

    & .filter-container {
      &__list {
        justify-content: flex-start;
      }
      &__list-item {
        box-sizing: content-box;
      }
    }
  }
  &.blue {
    background-color: $blue_color;

    & .open-filter-btn__info {
      color: $blue_color;
    }
    & .filter-container {
      background-color: $blue_color;
    }
    & .aside__layer {
      background-color: $blue_color;
    }

    & .filter-container {
      &__list {
        justify-content: flex-start;
      }
      &__list-item {
        box-sizing: content-box;
      }
    }
  }


  & .panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__snippet-info {
      flex-grow: 1;

      & .snippet-info {
        // &__container {

        // }
        &__list {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          padding-left: 3rem;
          padding-right: 3rem;
        }
        &__list-item {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: column;
          // max-width: auto;
          padding-left: 2rem;
          padding-right: 2rem;
        }
        &__title {
          // flex-basis: 100%;
          // flex-grow: 3;
          // flex-shrink: 0;
          text-align: center;
        }
        &__wrap {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
          align-items: center;
        }
        &__info {
          flex-grow: 2;
          // font-family: "tele2_displayserif-regular", sans-serif;
          // font-style: normal;
          // font-weight: bold;
          // font-size: 2.8rem;
          // line-height: 3.4rem;
          // letter-spacing: 0.01rem;
          text-align: center;
        }
        &__snippet-icons {
          flex-grow: 1;
        }

        &__snippet-icon {
          flex-grow: 0;
        }
      }
      & .snippet-icon__container {
        width: 3.2rem;
        height: 3.2rem;

        & svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .buttons__manage {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-right: 4.2rem;
      }

      & .manage {
        &__container { // повтор
          width: 3.5rem;
          height: 3.5rem;
          margin-left: 0.6rem;
          margin-right: 0.6rem;
        }
        &__button {
          width: 100%;
          height: 100%;
          // padding: 0.4rem;
          background-color: transparent;
        }
      }

      & .open-filter-btn {
        &__container { // повтор
          width: 3.5rem;
          height: 3.5rem;
        }
        &__button {
          width: 100%;
          height: 100%;
          // padding: 0.4rem;
          background-color: transparent;
          position: relative;
        }
        &__layer {
          position: absolute;
          top: 0;
          right: 0;
          bottom: auto;
          left: auto;
          z-index: 10;
          width: 1.4rem;
          height: 1.4rem;
          border: 1px solid transparent;
          border-radius: 50%;
          background-color: $white_color;
        }
      }

      & svg {
        width: 100%;
        height: 100%;
      }
    }
  }


  // &__filter {
  position: relative;
  z-index: 12;
  // }
}