@import "../variables/variables";

.diagram-container {
  width: 100%;
  height: 100%;
  padding: 0.9rem;

  &__layer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0.4rem 0.4rem;
  }

  &__title {
    color: $white_color;
    background-color: $black_color;
    // border: 1px solid $black_color;
    padding: 0.9rem 0.9rem 1.1rem 0.9rem;
  }
  &__content {
    text-align: center;
    vertical-align: middle;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    & .qv-object {
      border: none;
    }
  }

  &__inner-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;

    &_with-legend {
      height: 90%;
    }
  }

  &__legend-block {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black_color;
  }

  &__sub-title {
    position: absolute;
    z-index: 11;
    top: 0.34rem;
    right: auto;
    bottom: auto;
    left: 1rem;
    pointer-events: none;

    &_other-label {
      left: 50%;
    }
  }

  & .sub-title {
    &__label {
      display: inline-block;
    }
  }
}

.legend-block {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &:first-child {
    padding-left: 1rem;
  }
  &:last-child {
    padding-right: 0rem;
  }

  &__content {
    display: flex;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    // margin-right: 1rem;
    position: relative;

    &:after {
      position: absolute;
      z-index: 9;
      content: "";
      top: 50%;
      bottom: auto;
      left: .2rem;
      right: .2rem;
      border: 1px solid $ping_color;
      transform: translateY(1px);
      background-color: $ping_color;
    }
    &:before {
      position: absolute;
      z-index: 9;
      content: "";
      width: .6rem;
      height: .6rem;
      top: 50%;
      bottom: auto;
      left: 50%;
      right: 0;
      border: 1px solid $ping_color;
      border-radius: 50%;
      background-color: $ping_color;
      transform: translateY(-1px) translateX(-3px);
    }


  }
  &.second {
    .legend-block__icon {
      &:after, &:before {
        border: 1px solid $diagram_color_11;
        background-color: $diagram_color_11;
      }
    }

  }

  &__description {
    min-width: 22rem;
    min-height: 3rem;

    & .qv-media-tool-html {
      @extend .main-text;
      @extend .text_grid;

      font-size: 1.2rem !important;
      line-height: 1.6rem !important;
    }

    & .qv-object-title-text {
      color: $grid_grey;
    }
  }

  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}