@import "../variables/variables";

.header {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $black_color;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-right: $desctop_padding_header;
  padding-left: $desctop_padding_header;

  & .logo {
    width: 8.2rem;
    height: 3rem;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__user-pick {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  & .user-pick {
    &__icon {
      width: 2.5rem;
      height: 2.5rem;

      & img {
        width: 100%;
        height: 100%;
      }

      & svg {
        width: 100%;
        height: 100%;
      }
    }

    &__name {
      margin-left: 0.7rem;
    }
  }

  & .logout__btn {
    width: 2.25rem;
    height: 2.25rem;
    margin-left: 2.3rem;

    & svg {
      width: 100%;
      height: 100%;
    }
  }
}

.navigation {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  padding-left: $desctop_padding_header;
  padding-right: $desctop_padding_header;

  ul.navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    & li {
      padding-left: $desctop_padding_header;
      padding-right: $desctop_padding_header;
    }
  }
}