@import "../variables/variables";
@import "../base/typography";
.tab-panel {
  &__wrapper {
    padding-left: $desctop_padding_header;
    padding-right: $desctop_padding_header;
  }
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(-2.7rem/2);
    margin-right: calc(-2.7rem/2);
  }
  &__item {
    padding-left: calc(2.7rem/2);
    padding-right: calc(2.7rem/2);
  }
  & button {
    @extend .large-text;
    @extend .text_grey;
  }
  &__button, & button {
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;

    &.active {
      border-bottom: 2px solid $other_black_color;
      color: $other_black_color
    }
  }
}