include ../mixins/filter-item.mixin.pug
- var n = 0
.filter-container
  .filter-container__list
    .filter-container__list-item
      +fulterItem({icon: "date"})
    while n < 7
      - ++n
      .filter-container__list-item
        +fulterItem({icon: "simple"})