doctype html
html
  head
    include ../particles/meta.pug
    include ./part/title.pug
    include ../particles/style.pug
  body.body
    .work-area
      include ../particles/mixins/header.mixin.pug
      +headerHandler({active: "home-region"})
      include ../particles/mixins/aside.mixin.pug
      +asideHandler({classColor: "ping", title: "Домашний регион", filterName: "home-region"})
      .main-wrapper
        include ./part/main.pug