mixin asideHandler({classColor, title, filterName})
  aside.aside(class=classColor)
    .aside__layer
      .aside__panel
        .panel
          .panel__title
            h1.text_white #{title}
          .panel__snippet-info
            .snippet-info__container
              if filterName==="home-region"
                include ../home-region/home-region_snippet.pug
              if filterName==="air-passenger-traffic"
                include ../home-region/home-region_snippet.pug
              if filterName==="airport-visitors"
                include ../airport-visitors/airport-visitors_snippet.pug
              if filterName==="comparative-analysis"
                include ../comparative-analysis/comparative-analysis_snippet.pug
          .panel__buttons
            if filterName !== "comparative-analysis"
              .buttons__manage
                .manage__container
                  button(data-view="blocks").manage__button.manage-button-with-svg.active
                    include ../panel_view_blocks.pug
                .manage__container
                  button(data-view="rows").manage__button.manage-button-with-svg
                    include ../panel_view_rows.pug
            .bittons__open-filter-btn
              .open-filter-btn__container
                button.open-filter-btn__button#clear-filter
                  include ../open-filter-btn.pug
                  .open-filter-btn__layer
                    .open-filter-btn__info.small-text X
                  if filterName==="comparative-analysis"
                    .open-filter-btn__content
              .open-filter-btn__container
                button.open-filter-btn__button#open-filter
                  include ../open-filter-btn.pug
                  .open-filter-btn__layer
                    .open-filter-btn__info.small-text 7
      .aside__info-preview
        .info-preview.large-text.text_white 1
        .info-preview.info-preview_group.large-text.text_white 1
        .info-preview.info-preview_group.large-text.text_white 1
    //- .aside__filter
    if filterName==="home-region"
      include ../home-region/filter.pug
    if filterName==="air-passenger-traffic"
      include ../air-passenger-traffic/filter.pug
    if filterName==="airport-visitors"
      include ../airport-visitors/filter.pug
    if filterName==="comparative-analysis"
      include ../comparative-analysis/filter.pug