mixin headerHandler({active})
  header.header
    .logo
      svg(width="82" height="30" viewBox="0 0 82 30" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M0 10.5639V14.8947L12.0377 13.6102V8.92139" fill="white")
        path(d="M3.84375 15.1578V29.9999H8.24804V14.7227" fill="white")
        path(d="M13.6648 8.70009V29.9998H18.3077V8.06836" fill="white")
        path(d="M19.1721 7.94921V12.8486L25.8798 12.1326V7.0332" fill="white")
        path(d="M19.1721 16.495V21.4856L23.5728 21.2505V16.1265" fill="white")
        path(d="M19.1721 25.0831V30H25.8798V24.8831" fill="white")
        path(d="M43.2219 4.66078V30H49.304V3.83252" fill="white")
        path(d="M50.4468 3.67459V9.50402L59.3168 8.55643V2.46729" fill="white")
        path(d="M50.4468 13.8874V19.8221L56.2613 19.5168V13.4031" fill="white")
        path(d="M50.4468 24.1635V30H59.3168V23.9038" fill="white")
        path(d="M27.6516 6.791V29.9999H32.9418V6.07153" fill="white")
        path(d="M33.929 24.6477V29.9998H41.6093V24.4231" fill="white")
        path(d="M79.2047 2.17938C77.281 0.414057 74.4605 -0.308919 71.3761 0.122761V6.58743C72.6272 6.52075 73.6361 6.97349 74.0881 7.87896C74.8004 9.30737 74.0664 11.4517 72.3307 13.4382C69.6549 16.502 62.5386 22.7737 62.5386 22.7737L72.7538 22.4473C78.995 16.5266 81.2369 12.9363 81.6383 8.45103C81.8516 6.07854 80.9657 3.79029 79.2047 2.17938Z" fill="white")
        path(d="M61.2803 23.8406L61.2839 29.9999H82V23.2334" fill="white")
        path(d="M70.1866 0.266602C64.1659 1.509 61.2117 5.80825 61.5552 12.8204L67.97 12.2694C67.6807 8.30708 68.9282 7.36651 70.1902 6.8506" fill="white")
    nav.navigation
      ul.navigation__list
        if  active === "home-region"
          li: a.large-text.text_grey.active(href="/home-region") Домашний регион
        else
          li: a.large-text.text_grey(href="/home-region") Домашний регион
        if active === "air-passenger-traffic"
          li: a.large-text.text_grey.active(href="/air-passenger-traffic") Авиа пассажиропоток
        else
          li: a.large-text.text_grey(href="/air-passenger-traffic") Авиа пассажиропоток
        if active === "airport-visitors"
          li: a.large-text.text_grey.active(href="/airport-visitors") Посетители аэропорта
        else
          li: a.large-text.text_grey(href="/airport-visitors") Посетители аэропорта
        if active === "comparative-analysis"
          li: a.large-text.text_grey.active(href="/comparative-analysis") Сравнительный анализ
        else
          li: a.large-text.text_grey(href="/comparative-analysis") Сравнительный анализ
    .header__buttons
      .header__user-pick
        .user-pick__icon
          //- img(src="../../images/user.svg")
          svg(width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg")
            mask(id="mask0_2:563" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="3" y="3" width="24" height="24")
              path(d="M15.3112 16.1048C15.2104 16.1113 15.1087 16.1147 15.0062 16.1147C14.9249 16.1147 14.8441 16.1126 14.7639 16.1084C11.6784 16.2149 8.94178 17.769 7.56581 20.3469C7.44836 20.5661 7.32825 20.8655 7.23424 21.1832C9.05305 23.4644 11.8559 24.9265 15 24.9265C18.2302 24.9265 21.1003 23.3832 22.9131 20.9938C22.8309 20.7492 22.7351 20.5225 22.641 20.3458C21.2469 17.7327 18.4504 16.1707 15.3112 16.1048ZM17.8513 15.1291C20.3748 15.7912 22.5258 17.3684 23.7707 19.6524C24.5085 18.2647 24.9265 16.6811 24.9265 15C24.9265 9.51813 20.4819 5.07353 15 5.07353C9.51813 5.07353 5.07353 9.51813 5.07353 15C5.07353 16.76 5.53165 18.413 6.33514 19.8464C6.35617 19.8038 6.37737 19.7625 6.39869 19.7227C7.61457 17.4448 9.72443 15.8593 12.2105 15.1684C11.1617 14.3603 10.4876 13.1073 10.4876 11.6976C10.4876 9.25347 12.514 7.27968 15.0062 7.27968C17.4977 7.27968 19.5238 9.25362 19.5238 11.6976C19.5238 13.0846 18.8712 14.32 17.8513 15.1291ZM15 26.25C8.78716 26.25 3.75 21.2128 3.75 15C3.75 8.78716 8.78716 3.75 15 3.75C21.2128 3.75 26.25 8.78716 26.25 15C26.25 21.2128 21.2128 26.25 15 26.25ZM18.2003 11.6976C18.2003 9.99243 16.7743 8.60321 15.0062 8.60321C13.2373 8.60321 11.8112 9.99233 11.8112 11.6976C11.8112 13.4027 13.237 14.7911 15.0062 14.7911C16.7745 14.7911 18.2003 13.4026 18.2003 11.6976Z" fill="white")
            g(mask="url(#mask0_2:563)")
              path(d="M15.3112 16.1048C15.2104 16.1113 15.1087 16.1147 15.0062 16.1147C14.9249 16.1147 14.8441 16.1126 14.7639 16.1084C11.6784 16.2149 8.94178 17.769 7.56581 20.3469C7.44836 20.5661 7.32825 20.8655 7.23424 21.1832C9.05305 23.4644 11.8559 24.9265 15 24.9265C18.2302 24.9265 21.1003 23.3832 22.9131 20.9938C22.8309 20.7492 22.7351 20.5225 22.641 20.3458C21.2469 17.7327 18.4504 16.1707 15.3112 16.1048ZM17.8513 15.1291C20.3748 15.7912 22.5258 17.3684 23.7707 19.6524C24.5085 18.2647 24.9265 16.6811 24.9265 15C24.9265 9.51813 20.4819 5.07353 15 5.07353C9.51813 5.07353 5.07353 9.51813 5.07353 15C5.07353 16.76 5.53165 18.413 6.33514 19.8464C6.35617 19.8038 6.37737 19.7625 6.39869 19.7227C7.61457 17.4448 9.72443 15.8593 12.2105 15.1684C11.1617 14.3603 10.4876 13.1073 10.4876 11.6976C10.4876 9.25347 12.514 7.27968 15.0062 7.27968C17.4977 7.27968 19.5238 9.25362 19.5238 11.6976C19.5238 13.0846 18.8712 14.32 17.8513 15.1291ZM15 26.25C8.78716 26.25 3.75 21.2128 3.75 15C3.75 8.78716 8.78716 3.75 15 3.75C21.2128 3.75 26.25 8.78716 26.25 15C26.25 21.2128 21.2128 26.25 15 26.25ZM18.2003 11.6976C18.2003 9.99243 16.7743 8.60321 15.0062 8.60321C13.2373 8.60321 11.8112 9.99233 11.8112 11.6976C11.8112 13.4027 13.237 14.7911 15.0062 14.7911C16.7745 14.7911 18.2003 13.4026 18.2003 11.6976Z" fill="white")
        .user-pick__name.text_white Иванов Иван
      a.logout__btn(href="#")
        svg(width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M8.45132 5.02425C8.84292 5.19207 9.20046 5.73447 9.20046 6.16012V20.7538C9.20046 20.8802 9.16641 20.9508 9.14573 20.9642C9.12506 20.9775 9.04723 20.9812 8.93048 20.9325L2.65278 18.2412C2.26118 18.0734 1.90364 17.5322 1.90364 17.1054V2.51171C1.90364 2.41563 1.92553 2.32564 1.96566 2.24416L8.45132 5.02425ZM14.6731 7.98432V7.98311C14.3374 7.98311 14.065 7.71069 14.065 7.37504V2.51049C14.065 2.17484 13.7926 1.90242 13.4569 1.90242H4.25808L8.93048 3.9054C9.76353 4.26173 10.4166 5.25166 10.4166 6.1589V17.7122H13.4569C13.7926 17.7122 14.065 17.4398 14.065 17.1041V12.2396C14.065 11.9039 14.3374 11.6315 14.6731 11.6315C15.0099 11.6315 15.2811 11.9039 15.2811 12.2396V17.1041C15.2811 18.1099 14.4627 18.9283 13.4569 18.9283H10.4166V20.7526C10.4166 21.2791 10.1965 21.7267 9.81461 21.9784C9.60422 22.1171 9.35734 22.1876 9.09831 22.1876C8.88791 22.1876 8.66779 22.1414 8.45132 22.0502L2.17362 19.3589C1.34057 19.0025 0.6875 18.0126 0.6875 17.1054V2.51171C0.6875 1.50596 1.50596 0.6875 2.51171 0.6875H13.4569C14.4627 0.6875 15.2811 1.50596 15.2811 2.51171V7.37626C15.2811 7.71191 15.0099 7.98432 14.6731 7.98432ZM23.0081 9.37814L23.0106 9.37692C23.2465 9.61407 23.2465 9.99959 23.0106 10.2367L19.3621 13.8851C19.2417 14.0031 19.0861 14.0627 18.9304 14.0627C18.776 14.0627 18.6203 14.0043 18.5011 13.8851C18.264 13.648 18.264 13.2625 18.5011 13.0253L21.1097 10.4155H13.4566C13.1221 10.4155 12.8485 10.1431 12.8485 9.80744C12.8485 9.47178 13.1221 9.19937 13.4566 9.19937H21.1097L18.5011 6.58954C18.264 6.35239 18.264 5.96687 18.5011 5.72973C18.737 5.49258 19.1238 5.49258 19.3597 5.72973L23.0081 9.37814Z" fill="white")
