// @font-face {
//   font-family: "Tele2 DisplaySerif";
//   src: url("../fonts/tele2_displayserif-regular.eot");
//   src: url("../fonts/tele2_displayserif-regular.eot?#iefix") format('embedded-opentype'),
//     url("../fonts/tele2_displayserif-regular.woff") format('woff'),
//     url("../fonts/tele2_displayserif-regular.ttf") format('truetype'),
//     url("../fonts/tele2_displayserif-regular.svg#svgFontName") format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Tele2 DisplaySerif";
//   src: url("../fonts/tele2_displayserif-bold.eot");
//   src: url("../fonts/tele2_displayserif-bold.eot?#iefix") format('embedded-opentype'),
//     url("../fonts/tele2_displayserif-bold.woff") format('woff'),
//     url("../fonts/tele2_displayserif-bold.ttf") format('truetype'),
//     url("../fonts/tele2_displayserif-bold.svg#svgFontName") format('svg');
//   font-weight: bold;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Tele2 TextSans";
//   src: url("../fonts/tele2_textsans-regular.eot");
//   src: url("../fonts/tele2_textsans-regular.eot?#iefix") format('embedded-opentype'),
//     url("../fonts/tele2_textsans-regular.woff") format('woff'),
//     url("../fonts/tele2_textsans-regular.ttf") format('truetype'),
//     url("../fonts/tele2_textsans-regular.svg#svgFontName") format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Tele2 TextSans";
//   src: url("../fonts/tele2_textsans-bold.eot");
//   src: url("../fonts/tele2_textsans-bold.eot?#iefix") format('embedded-opentype'),
//     url("../fonts/tele2_textsans-bold.woff") format('woff'),
//     url("../fonts/tele2_textsans-bold.ttf") format('truetype'),
//     url("../fonts/tele2_textsans-bold.svg#svgFontName") format('svg');
//   font-weight: bold;
//   font-style: normal;
// }