.snippet-info__list
  .snippet-info__list-item.snippet-info__list-item_analis
    .snippet-info__title.text_white.large-text Кол-во покупателей, Группа А
    .snippet-info__wrap
      .snippet-info__info.text_white.very-big-text 10 029
  .snippet-info__list-item
    .snippet-info__title.text_white.large-text Кол-во покупателей, Группа В
    .snippet-info__wrap
      .snippet-info__info.text_white.very-big-text 10 029
  .snippet-info__list-item
    .snippet-info__title.text_white.large-text Отклонение
    .snippet-info__wrap
      .snippet-info__info.text_white.very-big-text 100%