include ../../particles/mixins/diagram-container.mixin.pug
main.main.air-passenger-traffic.blocks.active
  section.diagram.d1
    +diagramContainer({title: "Рейтинг пассажиропотока по регионам / доходным группам", content: "Рейтинг пассажиропотока по регионам / доходным группам"})
  section.diagram.d3
    +diagramContainer({title: "Сезонность прилетов / вылетов", content: "Сезонность прилетов / вылетов"})
  section.diagram.d2
    +diagramContainer({title: "Направление прилетов / вылетов", content: "Направление прилетов / вылетов", legend: true})