$white_color: #fff;
$black_color: #000;
$ping_color: #FF59A3;
$purple_color: #C882FF;
$green_color: #64D49E; // #C3E400;
$blue_color: #3FCBFF;

$diagram_color_1: #64D49E;
$diagram_color_2: #A2EAA9;
$diagram_color_3: #FB85BA;
$diagram_color_4: #FFB5D6;
$diagram_color_5: #68C0E6;
$diagram_color_6: #9FE5FF;
$diagram_color_7: #CCE8F2;
$diagram_color_8: #B8A0EB;
$diagram_color_9: #D7C7FA;
$diagram_color_10: #FFCF26;
$diagram_color_11: #FFDF70;
$diagram_color_12: #DBF062;
$diagram_color_13: #F7F997;
$diagram_color_14: #BDC8F1;
$diagram_color_15: #EBA0A0;
$diagram_color_16: #C6C8CB;

$grey_lay: rgba(143, 147, 153, 0.2);
$dark_grey_lay: #8F9399;

// $font-path-base: "../../fonts" !default;

$desctop_padding_header: 1.8rem;