aside.aside.ping
  .aside__panel
    .panel
      .panel__title
        h1.text_white Домашний регион
      .panel__snippet-info
        .snippet-info__container
          .snippet-info__title
          .snippet-info__dinam-info
          .snippet-info__icon
      .panel__buttons
  .aside__filter