header.header
  .logo
  nav.navigation
    ul
      li: a(href="#") Домашний регион
      li: a(href="#") Авиа пассажиропоток
      li: a(href="#") Посетители аэропорта
      li: a(href="#") Сравнительный анализ
  .header__buttons
    .header__user-pick
    .logout__btn