header.header
  .logo
    svg(width="82" height="30" viewBox="0 0 82 30" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M0 10.5639V14.8947L12.0377 13.6102V8.92139" fill="white")
      path(d="M3.84375 15.1578V29.9999H8.24804V14.7227" fill="white")
      path(d="M13.6648 8.70009V29.9998H18.3077V8.06836" fill="white")
      path(d="M19.1721 7.94921V12.8486L25.8798 12.1326V7.0332" fill="white")
      path(d="M19.1721 16.495V21.4856L23.5728 21.2505V16.1265" fill="white")
      path(d="M19.1721 25.0831V30H25.8798V24.8831" fill="white")
      path(d="M43.2219 4.66078V30H49.304V3.83252" fill="white")
      path(d="M50.4468 3.67459V9.50402L59.3168 8.55643V2.46729" fill="white")
      path(d="M50.4468 13.8874V19.8221L56.2613 19.5168V13.4031" fill="white")
      path(d="M50.4468 24.1635V30H59.3168V23.9038" fill="white")
      path(d="M27.6516 6.791V29.9999H32.9418V6.07153" fill="white")
      path(d="M33.929 24.6477V29.9998H41.6093V24.4231" fill="white")
      path(d="M79.2047 2.17938C77.281 0.414057 74.4605 -0.308919 71.3761 0.122761V6.58743C72.6272 6.52075 73.6361 6.97349 74.0881 7.87896C74.8004 9.30737 74.0664 11.4517 72.3307 13.4382C69.6549 16.502 62.5386 22.7737 62.5386 22.7737L72.7538 22.4473C78.995 16.5266 81.2369 12.9363 81.6383 8.45103C81.8516 6.07854 80.9657 3.79029 79.2047 2.17938Z" fill="white")
      path(d="M61.2803 23.8406L61.2839 29.9999H82V23.2334" fill="white")
      path(d="M70.1866 0.266602C64.1659 1.509 61.2117 5.80825 61.5552 12.8204L67.97 12.2694C67.6807 8.30708 68.9282 7.36651 70.1902 6.8506" fill="white")
  nav.navigation
    ul
      li: a(href="#") Домашний регион
      li: a(href="#") Авиа пассажиропоток
      li: a(href="#") Посетители аэропорта
      li: a(href="#") Сравнительный анализ
  .header__buttons
    .header__user-pick
    .logout__btn