svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg").svg-icon
  rect(x="17.3333" y="3.49872" width="10.6667" height="1.6" rx="0.8" fill="black")
  rect(x="17.3333" y="9.60004" width="10.6667" height="1.6" rx="0.8" fill="black")
  rect(x="17.3333" y="3.49872" width="1.6" height="7.70133" rx="0.799999" fill="black")
  rect(x="26.4" y="3.49872" width="1.6" height="7.70133" rx="0.800001" fill="black")
  rect(x="17.3333" y="14.4" width="10.6667" height="1.6" rx="0.8" fill="black")
  rect(x="17.3333" y="25.8667" width="10.6667" height="1.6" rx="0.799999" fill="black")
  rect(x="17.3333" y="14.4" width="1.6" height="13.056" rx="0.799999" fill="black")
  rect(x="26.4" y="14.4" width="1.6" height="13.056" rx="0.800001" fill="black")
  rect(x="4.05334" y="19.7333" width="10.6667" height="1.6" rx="0.800001" fill="black")
  rect(x="4.05334" y="25.8347" width="10.6667" height="1.6" rx="0.800001" fill="black")
  rect(x="4.05334" y="19.7333" width="1.6" height="7.70133" rx="0.8" fill="black")
  rect(x="13.12" y="19.7333" width="1.6" height="7.70133" rx="0.8" fill="black")
  rect(x="4.05334" y="3.49866" width="10.6667" height="1.6" rx="0.8" fill="black")
  rect(x="4.05334" y="14.9653" width="10.6667" height="1.6" rx="0.8" fill="black")
  rect(x="4.05334" y="3.49866" width="1.6" height="13.056" rx="0.8" fill="black")
  rect(x="13.12" y="3.49866" width="1.6" height="13.056" rx="0.8" fill="black")
