main.main.comparative-analysis.blocks.active
  section.diagram.d1
    .diagram-container
      .diagram-container__layer
        .diagram-container__content
          .diagram-container__inner-wrap.diagram-container__inner-wrap_with-short-legend= "Some Content"
          .diagram-container__legend-block.diagram-container__legend-block_with-short-legend
            .legend-block__wrap
              .legend-block
                .legend-block__content
                  .legend-block__icon
                  .legend-block__description.large-text.text_grey Какой-то параметр группы А
              .legend-block.second
                .legend-block__content
                  .legend-block__icon
                  .legend-block__description.large-text.text_grey
          .diagram-container__sub-title.diagram-container__sub-title_specific
            .sub-title__label.large-text.text_grey= "По признаку"