.tab-panel
  .tab-panel__wrapper
    .tab-panel__list
      .tab-panel__item
        button.tab-panel__button.large-text.text_grey Кол-во пассажиров
      .tab-panel__item
        button.tab-panel__button.large-text.text_grey Кол-во покупателей
      .tab-panel__item
        button.tab-panel__button.large-text.text_grey Траты
      .tab-panel__item
        button.tab-panel__button.large-text.text_grey Средний чек
      .tab-panel__item
        button.tab-panel__button.large-text.text_grey.active Кол-во посетителей