@import "../variables/variables";

.work-area {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  @media screen and (max-width: 1000px) {
    width: 1000px;
  }
  @media screen and (min-width: 1000px) {
    width: 100%;
  }
}

.svg-icon {
  color: $white_color;
  fill: $white_color;
  opacity: 0.7;

  & rect {
    color: $white_color;
    fill: $white_color;
  }
  & path {
    color: $white_color;
    fill: $white_color;
  }

  &_white {
    color: $white_color;
    fill: $white_color;
    opacity: 1;

    & rect {
      color: $white_color;
      fill: $white_color;
    }
    & path {
      color: $white_color;
      fill: $white_color;
    }
  }
  &.active {
    color: $white_color;
    fill: $white_color;
    opacity: 1;

    & rect {
      color: $white_color;
      fill: $white_color;
    }
    & path {
      color: $white_color;
      fill: $white_color;
    }
  }
}

button.manage-button-with-svg {
  & svg {
    pointer-events: none;

    & rect {
      pointer-events: none;
    }

    & path {
      pointer-events: none;
    }

    & g {
      pointer-events: none;
    }
  }

  &.active {

    & svg {
      color: $white_color;
      fill: $white_color;
      opacity: 1;

      & rect {
        color: $white_color;
        fill: $white_color;
      }
      & path {
        color: $white_color;
        fill: $white_color;
      }
    }

  }
}