include ../../particles/mixins/diagram-container.mixin.pug
main.main.airport-visitors.blocks.active
  section.diagram.d1
    +diagramContainer({title: "Динамика выручки", content: "Динамика выручки", label: "По признаку"})
  section.diagram.d2
    +diagramContainer({title: "Топ мест проживания покупателей", content: "Топ мест проживания покупателей"})
  section.diagram.d3
    +diagramContainer({title: "Траты в аэропорту", content: "Траты в аэропорту", label: "По признаку"})
  section.diagram.d4
    +diagramContainer({title: "Посетители аэропорта", content: "Посетители аэропорта", label: "По признаку"})
  section.diagram.d5
    +diagramContainer({title: "Распределение категорий затрат по выручке и количеству посетителей", content: "Распределение категорий затрат по выручке и количеству посетителей"})