@import "../variables/variables";
// @import url("https://tourism.tele2.ru/fonts/Tele2DisplaySerif-Regular.otf");

// @font-face {
//   font-family: "tele2_displayserif-regular";
//   src: url("/fonts/tele2_displayserif-regular.eot");
//   src: url("/fonts/tele2_displayserif-regular.eot?#iefix") format('embedded-opentype'),
//     url("/fonts/tele2_displayserif-regular.woff") format('woff'),
//     url("/fonts/tele2_displayserif-regular.ttf") format('truetype'),
//     url("/fonts/tele2_displayserif-regular.svg#svgFontName") format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "tele2_displayserif-bold";
//   src: url("/fonts/tele2_displayserif-bold.eot");
//   src: url("/fonts/tele2_displayserif-bold.eot?#iefix") format('embedded-opentype'),
//     url("/fonts/tele2_displayserif-bold.woff") format('woff'),
//     url("/fonts/tele2_displayserif-bold.ttf") format('truetype'),
//     url("/fonts/tele2_displayserif-bold.svg#svgFontName") format('svg');
//   font-weight: bold;
//   font-style: normal;
// }
// @font-face {
//   font-family: "tele2_textsans-regular";
//   src: url("/fonts/tele2_textsans-regular.eot");
//   src: url("/fonts/tele2_textsans-regular.eot?#iefix") format('embedded-opentype'),
//     url("/fonts/tele2_textsans-regular.woff") format('woff'),
//     url("/fonts/tele2_textsans-regular.ttf") format('truetype'),
//     url("/fonts/tele2_textsans-regular.svg#svgFontName") format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "tele2_textsans-bold";
//   src: url("/fonts/tele2_textsans-bold.eot");
//   src: url("/fonts/tele2_textsans-bold.eot?#iefix") format('embedded-opentype'),
//     url("/fonts/tele2_textsans-bold.woff") format('woff'),
//     url("/fonts/tele2_textsans-bold.ttf") format('truetype'),
//     url("/fonts/tele2_textsans-bold.svg#svgFontName") format('svg');
//   font-weight: bold;
//   font-style: normal;
// }

html {
  @extend .simple-text;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.simple-title {
  font-family: "tele2_displayserif-bold";
  letter-spacing: 0.01rem;
  font-weight: normal;
}
h1 {
  @extend .simple-title;
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: bold;
}
h2 {
  @extend .simple-title;
  font-family: "tele2_displayserif-regular";
  font-size: 1.6rem;
  line-height: 2.2rem;
}
h3 {
  @extend .simple-title;
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 0.02rem;
}
.simple-text {
  font-family: "tele2_textsans-regular", sans-serif;
  letter-spacing: 0.02rem;
  font-weight: normal;
}
.large-text {
  @extend .simple-text;
  font-size: 1.4rem;
  line-height: 1.8rem;
  &_bold {
    font-weight: bold;
  }

}
.more-large-text {
  @extend .simple-text;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.main-text {
  @extend .simple-text;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.small-text {
  @extend .simple-text;
  font-size: 1rem;
  line-height: 1.4rem;
  &_bold {
    font-weight: bold;
  }
}
.very-big-text {
  font-family: "tele2_displayserif-regular", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 0.01rem;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.text {
  &_grey {
    color: $dark_grey_lay;

    &.active {
      color: $white_color;
    }
  }

  &_white {
    color: $white_color;
  }
}
